[run]
omit =
    */version.py
    */configs/*
exclude_lines =
    @numba.jit
    @jit
    @numba.stencil
    @numba.guvectorize
    @numba.vectorize
    pragma: no cover
    if TYPE_CHECKING:
    @overload
