# This file is redundant with pyproject.toml;
# it exists to let GitHub build the repository dependency graph
# https://help.github.com/en/github/visualizing-repository-data-with-graphs/listing-the-packages-that-a-repository-depends-on
# This file also allows for conda to install from.

fsspec
numba
numpy
pandas
pydantic
